<div fxFlex="column" class="todo-project-list">

  <div cdkDropList (cdkDropListDropped)="onDrop($event)">

    <div *ngFor="let project of projects" cdkDrag>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="todo-project-item"
           [ngClass]="{'todo-project-item-selected': project.id == selected.id}"
           (click)="selectProject(project)">
        <div fxLayoutAlign="start center" class="todo-project-item-label">
          <mat-icon [color]="project.id == selected.id ? 'warn' : 'accent'">label_important</mat-icon>
          <span>{{project.name}}</span>
        </div>
        <div fxFlex="0 0 auto" fxLayoutAlign="start center" class="todo-project-item-controls">
          <mat-icon class="todo-project-item-action" (click)="openProjectDialog(project)">edit</mat-icon>
          <mat-icon class="todo-project-item-action" (click)="openDeleteDialog(project.id)">delete_outline</mat-icon>
        </div>
      </div>
    </div>

  </div>

  <button mat-icon-button class="todo-project-add">
    <mat-icon class="todo-project-add-icon" color="primary" (click)="openProjectDialog()">add</mat-icon>
    <span>new project</span>
  </button>

</div>
