@import "../app.component";
@import "../app.theme";

:host {
  min-height: 100%;
}

.todo-task-board {
  padding: 20px;
  background: mat-color($mat-grey, 200);

  &-list-label {
    padding: 10px;

    &.todo {
      background-color: mat-color($todo-warn, lighter);
    }
    &.progress {
      background-color: mat-color($todo-accent, lighter);
    }
    &.done {
      background-color: mat-color($todo-primary, lighter);
    }
  }

  &-item {
    padding: 10px;
    margin: 10px 0;
    cursor: move;
    background: white;
    font-size: 14px;

    &:hover {
      box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.2),
      0 5px 10px 1px rgba(0, 0, 0, 0.14),
      0 2px 14px 2px rgba(0, 0, 0, 0.12);
    }

    &-text {
      font-size: 20px;
    }

    &-footer {
      margin-top: 20px;
    }

    &-action {
      visibility: hidden;
      cursor: pointer;
      color: grey;
    }

    &:hover > &-footer > &-controls > &-action {
      visibility: visible;
    }
  }
}
