<div fxLayout="row" fxFlex="1 1 auto" fxLayoutAlign="space-around stretch" class="todo-task-board">

  <div fxLayout="column" fxFlex="30">
    <div fxFlex="0 0 auto" class="todo-task-board-list-label todo">
      <span class="mat-title">To do</span>
    </div>
    <div fxFlex="1 1 auto"
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="toDo"
      [cdkDropListConnectedTo]="[progressList, doneList]"
      (cdkDropListDropped)="drop($event, 'TO_DO')">
      <div fxLayout="column" class="todo-task-board-item" *ngFor="let task of toDo" cdkDrag>
        <span class="todo-task-board-item-text">{{task.text}}</span>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="todo-task-board-item-footer">
          <span>{{task.deadline | date:'yyyy-MM-dd HH:mm'}}</span>
          <div class="todo-task-board-item-controls">
            <mat-icon class="todo-task-board-item-action" (click)="openTaskDialog(task)">edit</mat-icon>
            <mat-icon class="todo-task-board-item-action" (click)="openDeleteDialog(task)">delete_outline</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div fxLayout="column" fxFlex="30">
    <div fxFlex="0 0 auto" class="todo-task-board-list-label progress">
      <span class="mat-title">In progress</span>
    </div>
    <div fxFlex="1 1 auto"
      cdkDropList
      #progressList="cdkDropList"
      [cdkDropListData]="inProgress"
      [cdkDropListConnectedTo]="[todoList, doneList]"
      (cdkDropListDropped)="drop($event, 'IN_PROGRESS')">
      <div fxLayout="column" class="todo-task-board-item" *ngFor="let task of inProgress" cdkDrag>
        <span class="todo-task-board-item-text">{{task.text}}</span>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="todo-task-board-item-footer">
          <span>{{task.deadline | date:'yyyy-MM-dd HH:mm'}}</span>
          <div class="todo-task-board-item-controls">
            <mat-icon class="todo-task-board-item-action" (click)="openTaskDialog(task)">edit</mat-icon>
            <mat-icon class="todo-task-board-item-action" (click)="openDeleteDialog(task)">delete_outline</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div fxLayout="column" fxFlex="30">
    <div fxFlex="0 0 auto" class="todo-task-board-list-label done">
      <span class="mat-title">Done</span>
    </div>
    <div fxFlex="1 1 auto"
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList, progressList]"
      (cdkDropListDropped)="drop($event, 'DONE')">
      <div fxLayout="column" class="todo-task-board-item" *ngFor="let task of done" cdkDrag>
        <span class="todo-task-board-item-text">{{task.text}}</span>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="todo-task-board-item-footer">
          <span>{{task.deadline | date:'yyyy-MM-dd HH:mm'}}</span>
          <div class="todo-task-board-item-controls">
            <mat-icon class="todo-task-board-item-action" (click)="openTaskDialog(task)">edit</mat-icon>
            <mat-icon class="todo-task-board-item-action" (click)="openDeleteDialog(task)">delete_outline</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button mat-icon-button class="todo-task-board-item-new" (click)="openTaskDialog()">
    <mat-icon color="warn" class="todo-task-board-item-new-icon">add_circle</mat-icon>
  </button>

</div>
